@model IEnumerable<webMVC_thingamabob.Models.Contato>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Contato Index</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<div>
			<h1>Contato Index</h1>
			<table>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
				@foreach (var contato in Model)
				{
					<tr>
						<td>@contato.IdContato</td>
						<td>@contato.Nome</td>
						<td>@contato.Email</td>
					</tr>
				}
			</table>
		</div>
	</body>
</html>